.profile-card {
  width: 90%;
  float: left;
  margin: 1%;
}

.profile-score {
  font-size: 250%;
  text-align: right;
}

.profile-header-image {
  background-image: url("https://ih1.redbubble.net/image.891596875.6737/flat,750x,075,f-pad,750x1000,f8f8f8.jpg");
  background-size: cover;
}

.profile-header-image-active {
    background-image: url("https://ih1.redbubble.net/image.407032251.6292/flat,750x,075,f-pad,750x1000,f8f8f8.u3.jpg");
    background-size: cover;
  }

mat-card-title {
  text-align: right;
}

.idbox {
  width: 30%;
}

button {
  width: 100%;
  margin-top: 2%;
  height: 10%;
  font-size: 300%;
}
