<mat-card *ngIf="question.text" class="example-card center">
  <mat-card-header>
    <mat-card-title>{{ question.text }}</mat-card-title>
  </mat-card-header>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip>{{ question.category }}</mat-chip>
  </mat-chip-list>
  <mat-card-content>
    <button
      style="background: grey;"
      *ngFor="let a of question.answers; let i = index"
      (click)="answer(question.answers[i].id)"
      mat-flat-button
    >
      {{ a.text }}
    </button>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!question.text" class="example-card center">
  <mat-card-header>
    <mat-card-header>
      <img
        src="https://pbs.twimg.com/profile_images/1249555617917874176/z4g2lMsR_400x400.png"
        width="60%"
        height="80%"
      />
      <mat-card-title>Doge´s Quiz Game</mat-card-title>
    </mat-card-header>
  </mat-card-header>
</mat-card>
