.example-card {
  max-width: 600px;
}

button {
  width: 97%;
  margin: 2%;
}

mat-card-content {
  padding-top: 10%;
  padding-bottom: 5%;
}
mat-card-title {
  text-align: left;
}

.profile-header-image-active {
  background-image: url("https://ih1.redbubble.net/image.407032251.6292/flat,750x,075,f-pad,750x1000,f8f8f8.u3.jpg");
  background-size: cover;
}